<%- include header %>
<%- include err %>
<div class="container-fluid login logout">
	<div class="row">
		<div class="col-xs-3">
			<div class="text-center logout_img">
				<img class="img-responsive" src="../images/12.jpg" alt="">
			</div>
		</div>
		<div class="col-xs-8">
			<div>
				用户名：<%= name %>
			</div>
		</div>
	</div>
</div>