<%- include header %>
<%- include err %>
<div class="container-fluid login">
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="" class="col-xs-3 control-label">用户名</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" placeholder="请输入您的用户名" name="name">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-xs-3 control-label">密码</label>
			<div class="col-xs-8">
				<input type="password" class="form-control" placeholder="请输入您的密码" name="password">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-xs-3 control-label">再次输入</label>
			<div class="col-xs-8">
				<input type="password" class="form-control" placeholder="请确认您的密码" name="password_t">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-xs-3 control-label">Email</label>
			<div class="col-xs-8">
				<input type="email" class="form-control" placeholder="请输入您的Email" name="email">
			</div>
		</div>
		<input type="submit" class="btn btn-block btn-success sign_now" value="注册">
	</form>
</div>